In [1]:
import numpy as np
import pandas as pd 

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
print(os.listdir("../input"))

/kaggle/input/earthquake/all_month.csv
['earthquake']

In [2]:
data = pd.read_csv("/kaggle/input/earthquake/all_month.csv")
data.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2022-02-04T02:52:38.150Z,38.832832,-122.819336,1.800000,0.85,md,6.0,103.00,0.01188,0.0000,...,2022-02-04T02:54:15.830Z,"8km NW of The Geysers, CA",earthquake,0.53,1.71,NaN,1.0,automatic,nc,nc
1,2022-02-04T02:50:47.970Z,32.718167,-117.160167,16.360000,0.99,ml,8.0,241.00,0.18440,0.0900,...,2022-02-04T02:54:22.814Z,"4km NNE of Coronado, CA",earthquake,0.56,1.02,0.213000,4.0,automatic,ci,ci
2,2022-02-04T02:44:23.729Z,36.905100,-117.367100,9.400000,1.50,ml,14.0,184.66,0.09100,0.3503,...,2022-02-04T02:47:57.431Z,"54 km W of Beatty, Nevada",earthquake,NaN,0.50,0.290000,9.0,automatic,nn,nn
3,2022-02-04T02:32:05.480Z,19.483167,-155.644667,2.910000,0.81,md,15.0,68.00,NaN,0.1200,...,2022-02-04T02:56:11.570Z,"23 km E of Honaunau-Napoopoo, Hawaii",earthquake,0.33,0.88,0.264057,7.0,reviewed,hv,hv
4,2022-02-04T02:22:41.920Z,19.198999,-155.436661,34.470001,2.00,ml,49.0,137.00,NaN,0.1100,...,2022-02-04T02:28:13.650Z,"4 km E of Pāhala, Hawaii",earthquake,0.46,0.61,4.090000,11.0,automatic,hv,hv

In [3]:
data = data[[ 'time', 'latitude', 'longitude', 'depth', 'mag']]
data.head()

                       time   latitude   longitude      depth   mag
0  2022-02-04T02:52:38.150Z  38.832832 -122.819336   1.800000  0.85
1  2022-02-04T02:50:47.970Z  32.718167 -117.160167  16.360000  0.99
2  2022-02-04T02:44:23.729Z  36.905100 -117.367100   9.400000  1.50
3  2022-02-04T02:32:05.480Z  19.483167 -155.644667   2.910000  0.81
4  2022-02-04T02:22:41.920Z  19.198999 -155.436661  34.470001  2.00

In [4]:
import datetime

timestamp_arr = []
for d in data["time"]:
    date_format = datetime.datetime.strptime(d,"%Y-%m-%dT%H:%M:%S.%fZ")
    try:
        timestamp_arr.append(datetime.datetime.timestamp(date_format))
    except ValueError:
        timestamp.append('ValueError')

In [5]:
timestamp = pd.Series(timestamp_arr)
data['timestamp'] = timestamp.values
data["timestamp"].head()

0    1.643943e+09
1    1.643943e+09
2    1.643943e+09
3    1.643942e+09
4    1.643941e+09
Name: timestamp, dtype: float64

In [6]:
final_data = data.drop(['time'], axis=1)
final_data = final_data[final_data.timestamp != 'ValueError']
final_data.dropna(axis = 1)
final_data.head()

    latitude   longitude      depth   mag     timestamp
0  38.832832 -122.819336   1.800000  0.85  1.643943e+09
1  32.718167 -117.160167  16.360000  0.99  1.643943e+09
2  36.905100 -117.367100   9.400000  1.50  1.643943e+09
3  19.483167 -155.644667   2.910000  0.81  1.643942e+09
4  19.198999 -155.436661  34.470001  2.00  1.643941e+09

In [7]:
X = final_data[['timestamp', 'latitude', 'longitude']]
y = final_data[['mag', 'depth']]

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=420)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(6901, 3) (3399, 3) (6901, 2) (3399, 2)

In [9]:
# from sklearn.ensemble import RandomForestRegressor

# reg = RandomForestRegressor(random_state=42)
# reg.fit(X_train, y_train)
# reg.predict(X_test)